body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes slide-in {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}

.pad-animate {
    animation-name: flip;
    animation-duration: 1s;
}

@keyframes slide-down {
    from {
        top: -120%;
    }
    to {
        top: 0;
    }
}

@keyframes slide-up {
    from {
        top: 0;
    }
    to {
        top: -120%;
    }
}

.slide-down-animate {
    animation: slide-down 1s;
}

.slide-up-animate {
    animation: slide-up 1s;
}

.modal {
    position: fixed;
    left: 0;
    top: -120%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(55, 55, 55);
    opacity: 0.8;
}

#modal-body {
    margin-left: 20%;
    margin-right: 20%;
    
    margin-top: 10%;
    height: 80%;
}

#contact-details {
    margin-left: auto;
    margin-right: auto;
    color: white;

    font-size: 28px;
    width: 100%;
}

#contact-details > div {
    margin-top: 10px;
    width: 100%;
}

#contact-details > div > a {
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

#modal-footer {
    width: 100%;
    z-index: 0;

    text-align: center;
    text-shadow: 1px 1px 5px #101010;
    font-size: 2em;
}

#modal-toggle {  
    text-align: center;
    text-shadow: 1px 1px 5px #101010;
    font-size: 2em;
    color: #303030;
}

.fa-angle-down {
    pointer-events: all;
    cursor: pointer;
}

.fa-angle-up {
    pointer-events: all;
    cursor: pointer;
}

#image {
    width: 132px;
    height: 132px;

    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: #D3D3D3;
}

.white {
    color: white;
}

.black {
    color: black;
}

#buttons {
    position: absolute;
    width: 100%;
    bottom: 10%;

    font-size: 48px;
    text-align: center;
}

.button {
    pointer-events: all;
    padding-left: 20px;
    padding-right: 20px;

    text-decoration: none;
}

.fa-twitter-square:hover {
    line-height: 0.65em;
    border-radius: 50%;
    background-color: white;
    color: #4099FF;
}

.fa-linkedin-square:hover {
    line-height: 0.65em;
    border-radius: 50%;
    background-color: white;
    color: #007bb5;
}

.fa-github-square:hover {
    line-height: 0.65em;
    border-radius: 50%;
    background-color: white;
    color: black;
}

@media screen and (min-width: 700px) {
    #foreground {
        pointer-events: none;
        position: absolute;
        height: 100%;
        width: 700px;
        margin: 0 auto;
        left: 0;
        right: 0;

        animation: slide-in 2s ease-in-out;
    }
    
    #image {
        pointer-events: all;
        float: left;
        top: 16px;
    }

    #text {
        text-align: left;

        padding-top: 16px;
        margin-left: 164px;
    }

    #profile {
        margin-top: 25%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 700px) {
    #foreground {
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;

        /* animation: slide-in 2s ease-in-out; */
    }
}

#name {
    font-weight: 700;
    font-size: 64px;
    line-height: 0.9em;
}

#subtext {
    font-weight: 600;
    font-size: 24px;   
    font-style: italic;
}