body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes slide-in {
    from {
        left: -100%;
    }
    to {
        left: 50%;
    }
}

#foreground {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -25%;

    animation: slide-in 2s ease-in-out;
}

#image {
    width: 132px;
    height: 132px;

    float: left;
    top: 16px;

    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: #D3D3D3;
}

#text {
    text-align: left;

    padding-top: 16px;
    margin-left: 164px;
}

#name {
    font-weight: 700;
    font-size: 64px;
    line-height: 0.9em;
}

#subtext {
    font-weight: 600;
    font-size: 24px;   
    font-style: italic;
}