<div class="sidebar">
    <div class="twitter-feed">
        <a class="twitter-timeline" data-height="300" href="https://twitter.com/JohWies">Tweets by JohWies</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <ul class="sidebar-list">
        {% for post in site.posts limit: 25 %}
        <li class="sidebar-list-item">{{ post.date | date: "%Y-%M-%d" }}
            <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>