@import "tailwindcss";

/**
 * Colour scheme: https://coolors.co/19174a-e4e4eb-bfc8ad-90b494-718f94
 */
:root {
  --color-primary: #E4E4EB;
  --color-secondary: #90B494;
  --color-background: #111031;
  --color-surface: #0D0C22;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
}

@utility text-heading-1 {
  font-size: 52px;
  line-height: 52px;
  font-weight: 600;
  letter-spacing: 0.05rem;

  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #999999;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font-family: inherit;
  cursor: pointer;
}
