@import "tailwindcss";

/**
 * Colour scheme: https://coolors.co/19174a-e4e4eb-bfc8ad-90b494-718f94
 */
:root {
  --color-primary: #E4E4EB;
  --color-secondary: #0D0C22;
  --color-background: #111031;
  --color-surface: #718F94;
}

:root {
  font-family: "Domine", serif;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #999999;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  cursor: pointer;
}
